.example-container mat-form-field + mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full {
  flex: 1;
}

.add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
